body {
  background-color: rgba(234, 234, 255, 0.5);
  text-align: center;
  font-family: sans-serif;
}
h1, h2{
  font-family: 'Sigmar One', sans-serif;
}
h1 {
  padding-top: 50px;
}
ol{
  text-align: left;
  display: table;
  margin: auto;
}
a {
  text-decoration: none;
}
input, textarea, label {
  margin: auto;
  display: block;
  padding: 5px;
  outline: none;
}
input {
  width: 200px;
  border-style: none;
  border: thin solid black;
}
label {
  width: 100px;
  margin-top: 10px;
}
textarea {
  resize: none;
  width: 200px;
  height: 100px;
}
nav {
  text-align: right;
  background-color: #bab6c4;
  padding: 10px;
  position: fixed;
  top: 5px;
  width: 95%;
  z-index: 2;
  border: thin solid black;
  border-radius: 8px;
  box-shadow: 3px 3px 3px #222;
}
.container {
  margin: 2%;
}
.text {
  border-radius: 5px;
}
.text:focus {
  box-shadow: 0 0 0 1pt #6854ff;
}
.submit {
  width: 60px;
  margin-top: 10px;
  background-color: #ddeaff;
  border-radius: 5px;
}
.submit:hover {
  background-color: #9edbff;
}
.submit:focus {
  background-color: #2d73ff;
}
.logo {
  max-width: 200px;
  max-height: 400px;
  -webkit-filter: drop-shadow(1px 1px 1px #222);
  filter: drop-shadow(1px 1px 1px #222);
}
.logo:hover {
  -webkit-filter: drop-shadow(3px 3px 3px #222);
  filter: drop-shadow(3px 3px 3px #222);
  position: relative;
  top: -5px;
}
.ext-logo {
  margin: 5px;
  max-width: 100px;
  max-height: 100px;
  background-color: #dddddd;
  border-radius: 500px;
  border: thick solid black;
}
.ext-logo:hover {
  border-radius: 500px;
  border: thick solid black;
}
.pen:hover {
  background-color: #81e263;
}
.linked:hover {
  background-color: #bd82ed;
}
.git:hover {
  background-color: #ff973d;
}
.ext-header {
  padding-top: 30px;
}
.button {
  text-align: center;
  margin-right: 10px;
  display: inline-block;
  color: #e9e6f2;
  background-color: #413f47;
  width: 80px;
  padding: 4px;
  border-radius: 5px;
}
.home {
  float: left;
}
