body {
  background-color: rgba(234, 234, 255, 0.5);
  text-align: center;
  font-family: sans-serif;
}
h1 {
  font-family: 'Sigmar One', sans-serif;
  font-size: 40px;
}
ol{
  text-align: left;
  display: table;
  margin: auto;
}
a {
  text-decoration: none;
}
input, textarea, label {
  margin: auto;
  display: block;
  padding: 5px;
  outline: none;
}
input {
  width: 200px;
  border-style: none;
  border: thin solid black;
}
label {
  width: 100px;
  margin-top: 10px;
}
textarea {
  resize: none;
  width: 200px;
  height: 100px;
}
.text {
  border-radius: 5px;
}
.text:focus {
  box-shadow: 0 0 0 1pt #6854ff;
}
.submit {
  width: 60px;
  margin-top: 10px;
  background-color: #ddeaff;
  border-radius: 5px;
}
.submit:hover {
  background-color: #9edbff;
}
.submit:focus {
  background-color: #2d73ff;
}
.logo {
  max-width: 200px;
  max-height: 400px;
  -webkit-filter: drop-shadow(1px 1px 1px #222);
  filter: drop-shadow(1px 1px 1px #222);
}
.logo:hover {
  -webkit-filter: drop-shadow(3px 3px 3px #222);
  filter: drop-shadow(3px 3px 3px #222);
  position: relative;
  top: -5px;
}
.code-logo {
  max-width: 200px;
  max-height: 400px;
  background-color: #dddddd;
  border-radius: 500px;
  border: thick solid black;
}
.code-logo:hover {
  background-color: #45d147;
  border-radius: 500px;
  border: thick solid black;
}
.code-header {
  padding-top: 30px;
}
